{{ define "main" }}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Erisia</h1>
  <p class="lead">A community Minecraft server with carefully curated modpacks</p>
  <a class="btn btn-success btn-lg" href="https://punch.brage.info/">Enable server access</a>
  <p class="mt-3">Use Discord to enable access from this computer for 14 days. Open the access page again after changing networks or when access expires.</p>
</div>

<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}