"_VERSION"=1
# If true, all changes made by this file will be logged
"_log_changes"=false
materials {
    alumite=4
    ardite=4
    "blackquartz_plustic"=2
    blueslime=0
    bone=1
    bronze=2
    cactus=1
    "certusquartz_plustic"=1
    cobalt=4
    copper=1
    desh=4
    "diamatine_actadd_plustic"=4
    electrum=1
    "emeradic_actadd_plustic"=4
    "enderium_plustic"=4
    endstone=3
    "enori_actadd_plustic"=3
    firewood=0
    flint=1
    "fluixcrystal_plustic"=3
    "infinity_avaritia_plustic"=10
    invar=3
    iridium=2
    iron=2
    knightslime=3
    lead=1
    "lumium_plustic"=4
    "ma.base_essence"=2
    "ma.inferium"=2
    "ma.intermedium"=3
    "ma.prosperity"=0
    "ma.prudentium"=2
    "ma.soulium"=1
    "ma.superium"=4
    "ma.supremium"=4
    magmaslime=0
    manyullyn=4
    mica=3
    netherrack=1
    nickel=3
    obsidian=4
    osgloglas=5
    osmiridium=4
    osmium=2
    "palis_actadd_plustic"=4
    paper=0
    pigiron=2
    "platinum_plustic"=4
    prismarine=1
    psigem=3
    psimetal=3
    refinedglowstone=4
    refinedobsidian=4
    "restonia_actadd_plustic"=3
    "signalum_plustic"=3
    silver=1
    slime=0
    sponge=0
    steel=3
    stone=1
    "void_actadd_plustic"=3
    wood=0
    "xu_demonic_metal"=1
    "xu_enchanted_metal"=1
    "xu_evil_metal"=4
    "xu_magical_wood"=0
}
