"_VERSION"=1
# If true, all changes made by this file will be logged
"_log_changes"=false
tools {
    "IE_HAMMER" {
        "immersiveengineering:tool"=2
    }
    axe {
        "actuallyadditions:diamond_paxel"=3
        "actuallyadditions:emerald_paxel"=3
        "actuallyadditions:gold_paxel"=0
        "actuallyadditions:iron_paxel"=2
        "actuallyadditions:item_axe_crystal_black"=2
        "actuallyadditions:item_axe_crystal_blue"=2
        "actuallyadditions:item_axe_crystal_green"=4
        "actuallyadditions:item_axe_crystal_light_blue"=3
        "actuallyadditions:item_axe_crystal_red"=2
        "actuallyadditions:item_axe_crystal_white"=2
        "actuallyadditions:item_axe_emerald"=3
        "actuallyadditions:item_axe_obsidian"=3
        "actuallyadditions:item_axe_quartz"=2
        "actuallyadditions:item_paxel_crystal_black"=2
        "actuallyadditions:item_paxel_crystal_blue"=2
        "actuallyadditions:item_paxel_crystal_green"=4
        "actuallyadditions:item_paxel_crystal_light_blue"=3
        "actuallyadditions:item_paxel_crystal_red"=2
        "actuallyadditions:item_paxel_crystal_white"=2
        "actuallyadditions:obsidian_paxel"=3
        "actuallyadditions:quartz_paxel"=2
        "actuallyadditions:stone_paxel"=1
        "actuallyadditions:wooden_paxel"=0
        "appliedenergistics2:certus_quartz_axe"=2
        "appliedenergistics2:nether_quartz_axe"=2
        "astralsorcery:itemchargedcrystalaxe"=3
        "astralsorcery:itemcrystalaxe"=3
        "avaritia:infinity_axe"=32
        "bloodmagic:bound_axe"=4
        "bloodmagic:sentient_axe"=2
        "botania:elementiumaxe"=3
        "botania:manasteelaxe"=3
        "botania:terraaxe"=4
        "calculator:electricaxe"=4
        "calculator:endforgedaxe"=6
        "calculator:enrichedgoldaxe"=3
        "calculator:firediamondaxe"=3
        "calculator:flawlessdiamondaxe"=3
        "calculator:redstoneaxe"=2
        "calculator:reinforcedaxe"=1
        "calculator:reinforcedironaxe"=2
        "calculator:weakeneddiamondaxe"=3
        "draconicevolution:draconic_axe"=10
        "draconicevolution:draconic_staff_of_power"=10
        "draconicevolution:wyvern_axe"=10
        "extrautils2:fireaxe"=6
        "galacticraftcore:steel_axe"=4
        "galacticraftplanets:desh_axe"=4
        "galacticraftplanets:titanium_axe"=5
        "ic2:bronze_axe"=2
        "ic2:chainsaw"=2
        "minecraft:diamond_axe"=3
        "minecraft:golden_axe"=0
        "minecraft:iron_axe"=2
        "minecraft:stone_axe"=1
        "minecraft:wooden_axe"=0
        "mysticalagradditions:inferium_paxel"=2
        "mysticalagradditions:intermedium_paxel"=3
        "mysticalagradditions:prudentium_paxel"=2
        "mysticalagradditions:superium_paxel"=4
        "mysticalagradditions:supremium_paxel"=5
        "mysticalagriculture:inferium_axe"=2
        "mysticalagriculture:intermedium_axe"=3
        "mysticalagriculture:prudentium_axe"=2
        "mysticalagriculture:superium_axe"=4
        "mysticalagriculture:supremium_axe"=5
        "tconstruct:hatchet"=0
        "tconstruct:lumberaxe"=0
        "thermalfoundation:tool.axe_aluminum"=1
        "thermalfoundation:tool.axe_bronze"=2
        "thermalfoundation:tool.axe_constantan"=2
        "thermalfoundation:tool.axe_copper"=1
        "thermalfoundation:tool.axe_electrum"=0
        "thermalfoundation:tool.axe_invar"=2
        "thermalfoundation:tool.axe_lead"=1
        "thermalfoundation:tool.axe_nickel"=2
        "thermalfoundation:tool.axe_platinum"=4
        "thermalfoundation:tool.axe_silver"=2
        "thermalfoundation:tool.axe_steel"=2
        "thermalfoundation:tool.axe_tin"=1
    }
    grafter {
        "forestry:grafter"=3
        "forestry:grafter_proven"=3
    }
    hammer {
        "thermalfoundation:tool.hammer_aluminum"=1
        "thermalfoundation:tool.hammer_bronze"=2
        "thermalfoundation:tool.hammer_constantan"=2
        "thermalfoundation:tool.hammer_copper"=1
        "thermalfoundation:tool.hammer_diamond"=3
        "thermalfoundation:tool.hammer_electrum"=0
        "thermalfoundation:tool.hammer_gold"=0
        "thermalfoundation:tool.hammer_invar"=2
        "thermalfoundation:tool.hammer_iron"=2
        "thermalfoundation:tool.hammer_lead"=1
        "thermalfoundation:tool.hammer_nickel"=2
        "thermalfoundation:tool.hammer_platinum"=4
        "thermalfoundation:tool.hammer_silver"=2
        "thermalfoundation:tool.hammer_steel"=2
        "thermalfoundation:tool.hammer_stone"=1
        "thermalfoundation:tool.hammer_tin"=1
        "thermalfoundation:tool.hammer_wood"=0
    }
    mattock {
        "tconstruct:mattock"=0
    }
    pickaxe {
        "actuallyadditions:diamond_paxel"=3
        "actuallyadditions:emerald_paxel"=3
        "actuallyadditions:gold_paxel"=0
        "actuallyadditions:iron_paxel"=2
        "actuallyadditions:item_drill"=4
        "actuallyadditions:item_paxel_crystal_black"=2
        "actuallyadditions:item_paxel_crystal_blue"=2
        "actuallyadditions:item_paxel_crystal_green"=4
        "actuallyadditions:item_paxel_crystal_light_blue"=3
        "actuallyadditions:item_paxel_crystal_red"=2
        "actuallyadditions:item_paxel_crystal_white"=2
        "actuallyadditions:item_pickaxe_crystal_black"=2
        "actuallyadditions:item_pickaxe_crystal_blue"=2
        "actuallyadditions:item_pickaxe_crystal_green"=4
        "actuallyadditions:item_pickaxe_crystal_light_blue"=3
        "actuallyadditions:item_pickaxe_crystal_red"=2
        "actuallyadditions:item_pickaxe_crystal_white"=2
        "actuallyadditions:item_pickaxe_emerald"=3
        "actuallyadditions:item_pickaxe_obsidian"=3
        "actuallyadditions:item_pickaxe_quartz"=2
        "actuallyadditions:obsidian_paxel"=3
        "actuallyadditions:quartz_paxel"=2
        "actuallyadditions:stone_paxel"=1
        "actuallyadditions:wooden_paxel"=0
        "appliedenergistics2:certus_quartz_pickaxe"=1
        "appliedenergistics2:nether_quartz_pickaxe"=2
        "astralsorcery:itemchargedcrystalpickaxe"=3
        "astralsorcery:itemcrystalpickaxe"=3
        "avaritia:infinity_pickaxe"=32
        "bloodmagic:bound_pickaxe"=4
        "bloodmagic:sentient_pickaxe"=2
        "botania:elementiumpick"=3
        "botania:glasspick"=0
        "botania:manasteelpick"=3
        "botania:terrapick"=4
        "calculator:electricpickaxe"=4
        "calculator:endforgedpickaxe"=6
        "calculator:enrichedgoldpickaxe"=3
        "calculator:firediamondpickaxe"=3
        "calculator:flawlessdiamondpickaxe"=3
        "calculator:redstonepickaxe"=2
        "calculator:reinforcedironpickaxe"=2
        "calculator:reinforcedpickaxe"=1
        "calculator:weakeneddiamondpickaxe"=3
        "draconicevolution:draconic_pick"=10
        "draconicevolution:draconic_staff_of_power"=10
        "draconicevolution:wyvern_pick"=10
        "extraplanets:blue_diamond_pickaxe"=6
        "extraplanets:blue_gem_pickaxe"=5
        "extraplanets:carbon_pickaxe"=3
        "extraplanets:crystal_pickaxe"=6
        "extraplanets:green_diamond_pickaxe"=6
        "extraplanets:magnesium_pickaxe"=5
        "extraplanets:mercury_pickaxe"=6
        "extraplanets:palladium_pickaxe"=4
        "extraplanets:purple_diamond_pickaxe"=6
        "extraplanets:red_diamond_pickaxe"=6
        "extraplanets:red_gem_pickaxe"=4
        "extraplanets:tungsten_pickaxe"=7
        "extraplanets:uranium_pickaxe"=6
        "extraplanets:white_gem_pickaxe"=6
        "extraplanets:yellow_diamond_pickaxe"=6
        "extraplanets:zinc_pickaxe"=6
        "forestry:bronze_pickaxe"=3
        "galacticraftcore:steel_pickaxe"=4
        "galacticraftplanets:desh_pick"=4
        "galacticraftplanets:desh_pick_slime"=4
        "galacticraftplanets:titanium_pickaxe"=5
        "galacticraftplanets:volcanic_pickaxe"=3
        "ic2:bronze_pickaxe"=2
        "ic2:diamond_drill"=3
        "ic2:drill"=2
        "ic2:iridium_drill"=100
        "minecraft:diamond_pickaxe"=3
        "minecraft:golden_pickaxe"=0
        "minecraft:iron_pickaxe"=2
        "minecraft:stone_pickaxe"=1
        "minecraft:wooden_pickaxe"=0
        "mysticalagradditions:inferium_paxel"=2
        "mysticalagradditions:intermedium_paxel"=3
        "mysticalagradditions:prudentium_paxel"=2
        "mysticalagradditions:superium_paxel"=4
        "mysticalagradditions:supremium_paxel"=5
        "mysticalagriculture:inferium_pickaxe"=2
        "mysticalagriculture:intermedium_pickaxe"=3
        "mysticalagriculture:prudentium_pickaxe"=2
        "mysticalagriculture:superium_pickaxe"=4
        "mysticalagriculture:supremium_pickaxe"=5
        "tconstruct:hammer"=0
        "tconstruct:pickaxe"=0
        "thermalfoundation:tool.hammer_aluminum"=1
        "thermalfoundation:tool.hammer_bronze"=2
        "thermalfoundation:tool.hammer_constantan"=2
        "thermalfoundation:tool.hammer_copper"=1
        "thermalfoundation:tool.hammer_diamond"=3
        "thermalfoundation:tool.hammer_electrum"=0
        "thermalfoundation:tool.hammer_gold"=0
        "thermalfoundation:tool.hammer_invar"=2
        "thermalfoundation:tool.hammer_iron"=2
        "thermalfoundation:tool.hammer_lead"=1
        "thermalfoundation:tool.hammer_nickel"=2
        "thermalfoundation:tool.hammer_platinum"=4
        "thermalfoundation:tool.hammer_silver"=2
        "thermalfoundation:tool.hammer_steel"=2
        "thermalfoundation:tool.hammer_stone"=1
        "thermalfoundation:tool.hammer_tin"=1
        "thermalfoundation:tool.hammer_wood"=0
        "thermalfoundation:tool.pickaxe_aluminum"=1
        "thermalfoundation:tool.pickaxe_bronze"=2
        "thermalfoundation:tool.pickaxe_constantan"=2
        "thermalfoundation:tool.pickaxe_copper"=1
        "thermalfoundation:tool.pickaxe_electrum"=0
        "thermalfoundation:tool.pickaxe_invar"=2
        "thermalfoundation:tool.pickaxe_lead"=1
        "thermalfoundation:tool.pickaxe_nickel"=2
        "thermalfoundation:tool.pickaxe_platinum"=4
        "thermalfoundation:tool.pickaxe_silver"=2
        "thermalfoundation:tool.pickaxe_steel"=2
        "thermalfoundation:tool.pickaxe_tin"=1
    }
    scoop {
        "forestry:scoop"=3
        "gendustry:industrial_scoop"=3
    }
    shears {
        "ic2:chainsaw"=2
        "tconstruct:kama"=0
    }
    shovel {
        "actuallyadditions:diamond_paxel"=3
        "actuallyadditions:emerald_paxel"=3
        "actuallyadditions:gold_paxel"=0
        "actuallyadditions:iron_paxel"=2
        "actuallyadditions:item_drill"=4
        "actuallyadditions:item_paxel_crystal_black"=2
        "actuallyadditions:item_paxel_crystal_blue"=2
        "actuallyadditions:item_paxel_crystal_green"=4
        "actuallyadditions:item_paxel_crystal_light_blue"=3
        "actuallyadditions:item_paxel_crystal_red"=2
        "actuallyadditions:item_paxel_crystal_white"=2
        "actuallyadditions:item_shovel_crystal_black"=2
        "actuallyadditions:item_shovel_crystal_blue"=2
        "actuallyadditions:item_shovel_crystal_green"=4
        "actuallyadditions:item_shovel_crystal_light_blue"=3
        "actuallyadditions:item_shovel_crystal_red"=2
        "actuallyadditions:item_shovel_crystal_white"=2
        "actuallyadditions:item_shovel_emerald"=3
        "actuallyadditions:item_shovel_obsidian"=3
        "actuallyadditions:item_shovel_quartz"=2
        "actuallyadditions:obsidian_paxel"=3
        "actuallyadditions:quartz_paxel"=2
        "actuallyadditions:stone_paxel"=1
        "actuallyadditions:wooden_paxel"=0
        "appliedenergistics2:certus_quartz_spade"=2
        "appliedenergistics2:nether_quartz_spade"=2
        "astralsorcery:itemchargedcrystalshovel"=3
        "astralsorcery:itemcrystalshovel"=3
        "avaritia:infinity_shovel"=32
        "bloodmagic:bound_shovel"=4
        "bloodmagic:sentient_shovel"=2
        "botania:elementiumshovel"=3
        "botania:manasteelshovel"=3
        "calculator:electricshovel"=4
        "calculator:endforgedshovel"=6
        "calculator:enrichedgoldshovel"=3
        "calculator:firediamondshovel"=3
        "calculator:flawlessdiamondshovel"=3
        "calculator:redstoneshovel"=2
        "calculator:reinforcedironshovel"=2
        "calculator:reinforcedshovel"=1
        "calculator:weakeneddiamondshovel"=3
        "draconicevolution:draconic_shovel"=10
        "draconicevolution:draconic_staff_of_power"=10
        "draconicevolution:wyvern_shovel"=10
        "extraplanets:blue_diamond_shovel"=6
        "extraplanets:blue_gem_shovel"=5
        "extraplanets:carbon_shovel"=3
        "extraplanets:crystal_shovel"=6
        "extraplanets:green_diamond_shovel"=6
        "extraplanets:magnesium_shovel"=5
        "extraplanets:mercury_shovel"=6
        "extraplanets:palladium_shovel"=4
        "extraplanets:purple_diamond_shovel"=6
        "extraplanets:red_diamond_shovel"=6
        "extraplanets:red_gem_shovel"=4
        "extraplanets:tungsten_shovel"=7
        "extraplanets:uranium_shovel"=6
        "extraplanets:white_gem_shovel"=6
        "extraplanets:yellow_diamond_shovel"=6
        "extraplanets:zinc_shovel"=6
        "forestry:bronze_shovel"=3
        "galacticraftcore:steel_shovel"=4
        "galacticraftplanets:desh_spade"=4
        "galacticraftplanets:titanium_shovel"=5
        "ic2:bronze_shovel"=2
        "ic2:diamond_drill"=3
        "ic2:drill"=2
        "ic2:iridium_drill"=100
        "minecraft:diamond_shovel"=3
        "minecraft:golden_shovel"=0
        "minecraft:iron_shovel"=2
        "minecraft:stone_shovel"=1
        "minecraft:wooden_shovel"=0
        "mysticalagradditions:inferium_paxel"=2
        "mysticalagradditions:intermedium_paxel"=3
        "mysticalagradditions:prudentium_paxel"=2
        "mysticalagradditions:superium_paxel"=4
        "mysticalagradditions:supremium_paxel"=5
        "mysticalagriculture:inferium_shovel"=2
        "mysticalagriculture:intermedium_shovel"=3
        "mysticalagriculture:prudentium_shovel"=2
        "mysticalagriculture:superium_shovel"=4
        "mysticalagriculture:supremium_shovel"=5
        "tconstruct:excavator"=0
        "tconstruct:shovel"=0
        "thermalfoundation:tool.shovel_aluminum"=1
        "thermalfoundation:tool.shovel_bronze"=2
        "thermalfoundation:tool.shovel_constantan"=2
        "thermalfoundation:tool.shovel_copper"=1
        "thermalfoundation:tool.shovel_electrum"=0
        "thermalfoundation:tool.shovel_invar"=2
        "thermalfoundation:tool.shovel_lead"=1
        "thermalfoundation:tool.shovel_nickel"=2
        "thermalfoundation:tool.shovel_platinum"=4
        "thermalfoundation:tool.shovel_silver"=2
        "thermalfoundation:tool.shovel_steel"=2
        "thermalfoundation:tool.shovel_tin"=1
    }
    sickle {
        "thermalfoundation:tool.sickle_aluminum"=1
        "thermalfoundation:tool.sickle_bronze"=2
        "thermalfoundation:tool.sickle_constantan"=2
        "thermalfoundation:tool.sickle_copper"=1
        "thermalfoundation:tool.sickle_diamond"=3
        "thermalfoundation:tool.sickle_electrum"=0
        "thermalfoundation:tool.sickle_gold"=0
        "thermalfoundation:tool.sickle_invar"=2
        "thermalfoundation:tool.sickle_iron"=2
        "thermalfoundation:tool.sickle_lead"=1
        "thermalfoundation:tool.sickle_nickel"=2
        "thermalfoundation:tool.sickle_platinum"=4
        "thermalfoundation:tool.sickle_silver"=2
        "thermalfoundation:tool.sickle_steel"=2
        "thermalfoundation:tool.sickle_stone"=1
        "thermalfoundation:tool.sickle_tin"=1
        "thermalfoundation:tool.sickle_wood"=0
    }
    sword {
        "ic2:chainsaw"=2
        "ic2:nano_saber"=3
        "tconstruct:broadsword"=0
        "tconstruct:cleaver"=0
        "tconstruct:longsword"=0
        "tconstruct:rapier"=0
    }
    wrench {
        "appliedenergistics2:certus_quartz_wrench"=0
        "appliedenergistics2:nether_quartz_wrench"=0
        "appliedenergistics2:network_tool"=0
        "forestry:wrench"=0
        "thermalfoundation:wrench"=1
    }
}
