# Configuration file

##########################################################################################################
# block
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the block.cfg
##########################################################################################################

block {
    # appliedenergistics2:quartz_ore:0 [default: pickaxe=0]
    S:"appliedenergistics2:quartz_ore:0"=pickaxe=2
}


##########################################################################################################
# oredict
#--------------------------------------------------------------------------------------------------------#
# Add overwrites to all blocks in the given OreDict entry
##########################################################################################################

oredict {
}


