# Configuration file

##########################################################################################################
# tool
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the tools.cfg
##########################################################################################################

tool {
# "mekanism:atomicdisassembler" [default: shovel=3,pickaxe=3,axe=3]
    S:"mekanism:atomicdisassembler"=shovel=5,pickaxe=5,axe=5
}


