# Configuration file
# Tips migrated from the Tips mod (tips.cfg customTips) when it was replaced by AnotherTips (E36 fixes, 2026-10).

general {
    # This is the pool of tips that will be displayed during the world loading screen
    S:"Tip Lang Keys" <
        Boron Tools last much longer than Iron Tools, and are cheaper to make earlier on once you get some Boron.
        Check JEI and relevant quests before asking for help, I try to idiotproof my pack. (of course it isn't perfect, so still ask after that)
        If only you had a magical watering device to speed up the maturation of Bog Earth...
        Build up a mana supply when you can so you aren't waiting for it when you need it.
        Think big! You will make many multiblocks, and will need space for them.
        Hate to build? Use the premade bases! Love to build? Make the Block Duplicator multiblock once you reach it!
        Some recipes become cheaper or easier as you progress, letting you save time.
        Tech and magic both have automation strategies! Use both for max efficiency!
        Remixes are required to reach endgame, but can be put off initially.
        Purchase a TI-84 to help with those integrals (and recipe costs)!
        Only process the ores you need, the processing progression goes quite quickly!
        I accept base submissions! Talk to me (pikminman13) on the IBP discord and you might get yours in the pack!
        All Modular Machines have Schematica Blueprints! Press Divide on the numpad (by default) to load the list, Multiply to make your own, and Subtract to modify ones in the world.
        Check recipes for useful things! Some items might be easier to get than you would expect!
        Modular Machines can share blocks. Some multiblocks can make use of this feature.
        Laser Relays can interact with all adjacent blocks, not just the one it looks like it is mounted to. It looks highly illegal, however.
        Don't forget to set your Veinminer and Quest Book keybinds!
        Thank you for playing my pack, I hope you know that I really do appreciate it.
     >
}
