# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        33
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        119
        111
        111
        108
        63
        99
        111
        108
        111
        114
        61
        108
        105
        103
        104
        116
        95
        98
        108
        117
        101
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        60
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        68
        22
        41
        -49
        -49
        -49
        -79
        79
        -50
        -49
        -55
        47
        -78
        -51
        -55
        76
        -49
        40
        -119
        79
        -54
        41
        77
        101
        104
        96
        98
        97
        96
        96
        112
        0
        0
        121
        20
        19
        -106
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        36
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        97
        110
        100
        115
        116
        111
        110
        101
        63
        116
        121
        112
        101
        61
        115
        97
        110
        100
        115
        116
        111
        110
        101
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        56
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        65
        22
        41
        78
        -52
        75
        41
        46
        -55
        -49
        75
        -75
        47
        -87
        44
        72
        -75
        -123
        115
        25
        22
        48
        -78
        48
        48
        48
        56
        0
        0
        -62
        -117
        21
        25
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        22
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        108
        111
        119
        115
        116
        111
        110
        101
        63
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        60
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        67
        22
        73
        -49
        -55
        47
        47
        46
        -55
        -49
        75
        -75
        103
        96
        104
        96
        -7
        79
        1
        -40
        -1
        127
        112
        -125
        122
        10
        -11
        -65
        -1
        63
        -4
        1
        0
        76
        88
        12
        61
        3
        0
        2
        108
        118
        0
        0
        0
        15
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        33
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        119
        111
        111
        108
        63
        99
        111
        108
        111
        114
        61
        108
        105
        103
        104
        116
        95
        98
        108
        117
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        67
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        68
        22
        41
        -49
        -49
        -49
        -79
        79
        -50
        -49
        -55
        47
        -78
        -51
        -55
        76
        -49
        40
        -119
        79
        -54
        41
        77
        101
        96
        104
        96
        -7
        63
        10
        -122
        45
        -40
        79
        64
        126
        61
        16
        3
        0
        -25
        -29
        16
        -30
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        36
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        97
        110
        100
        115
        116
        111
        110
        101
        63
        116
        121
        112
        101
        61
        115
        97
        110
        100
        115
        116
        111
        110
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        57
        120
        -38
        99
        98
        82
        -55
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        44
        78
        -52
        75
        41
        46
        -55
        -49
        75
        -75
        47
        -87
        44
        72
        -75
        -123
        115
        25
        -60
        -112
        85
        -91
        -25
        -28
        -105
        67
        84
        49
        -44
        -80
        48
        52
        48
        48
        0
        0
        104
        96
        23
        -32
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


